
@{
    ViewBag.Title = ViewBag.Message;
}

@Html.TextBox("Message")

<ul>
    <li>@Html.ActionLink("Laptop", "Product", "Products", new { ProductName = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Product", "Products", new { ProductName = "Tablet " }, null)</li>
    <li>@Html.ActionLink("Desktop", "Product", "Products", new { ProductName = "Desktop " }, null)</li>
</ul>